# Ignore entire home (from current location of ignore file)
/*
# Manage these folders only
!.config/
.config/*
!.config/doom/
!.config/fontconfig/
!.config/foot/
!.config/lf/
!.config/mako/
!.config/pipewire/
!.config/tofi/
!.config/tridactyl/
!.config/yambar/
!.config/zathura/
!.config/zsh/
.config/zsh/*
!.config/zsh/.zshrc


!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.local/
.local/*

!.local/bin/

!.local/src/
.local/src/*

!.local/src/dwl/

!.mozilla/
.mozilla/*
!.mozilla/firefox/
.mozilla/firefox/*
!.mozilla/firefox/*.default-release/
.mozilla/firefox/*.default-release/*
!.mozilla/firefox/*.default-release/chrome/

!.zprofile

!README.org
!.gitignore
